@font-face {
    font-family: "Playfair";
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Garamond";
    src: url(../fonts/EBGaramond-VariableFont_wght.ttf);
}




* {
    box-sizing: border-box;
}


/* root, header, body */

header,
section {
    overflow-x: hidden;
}

:root {
    --colorbg: #f8f8f8;
    --base-text: #332421;
    --red-text: #cc0b36;
    --light-grey: #949494;
}

body {
    background-color: var(--colorbg);
    overflow-x: hidden;
}

a#expl_brow {
    font-family: "Playfair";
    text-decoration: none;
    font-size: 70px;
    color: var(--base-text);
    font-weight: bolder;
    line-height: 1;
    cursor: pointer;
    z-index: 10000;
}

a#expl_brow:hover {
    color: var(--red-text);

}

li#expl {

    text-align: right;
}

li#expl.explore_class {
    padding-bottom: 20%;

}


/* Cookbooks and recipes images/buttons on the right */

.img-cokbooks-recipes .cookbooks {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25%;
    transition: transform .2s;
    animation: fadeInRight 1.5s ease-in-out;
}

.img-cokbooks-recipes .cookbooks:hover {
    transform: scale(1.1);
}

.img-cokbooks-recipes .recipes {
    width: 56%;
    right: 25%;
    flex-direction: column;
    padding-bottom: 25%;
    transition: transform .2s;
    display: flex;
    margin-left: 4%;
    animation: fadeInRight 1.5s ease-in-out;
}

.img-cokbooks-recipes .recipes:hover {
    transform: scale(1.1);
}

.img-cokbooks-recipes {

    padding-top: 20%;
    position: absolute;
    left: 91%;
    z-index: 1001;

}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(600px);
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-600px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#chartdiv {
    width: 100%;
    height: 500px;
    font-size: 9px;
    background-color: #f8f8f8;
    border: 1px solid #332421;


}

.reveal .chart_pos {
    padding-top: 10%;
}

#chart-par {
    padding-top: 5%;
    color: #cc0b36;
    opacity: 0.3;
}

#chartdiv_ingredients {
    width: 100%;
    height: 500px;
    font-size: 12px;
    /*background-color: #f8f8f8;*/
    /*border: 1px solid #cc0b36;*/




}

#chartdiv_pie {
    width: 80%;
    height: 300px;
    font-size: 12px;
    padding: 10%;


}



#chartdiv_map {
    width: 100%;
    background-color: #f8f8f8;
    height: 500px;
    overflow: hidden;
    border: 1px solid #332421;
    z-index: 1001;
    font-size: 12px;

}


canvas {
    z-index: 1001;

}

*/
/*red line and containers properties to allow the svg line scrolling */

.wrapper {
    position: relative;
}

.line-container {
    padding-top: 48%;
    width: 100%;
    height: 100%;
    opacity: 60%;
    text-align: center;

}

.whole-text {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1001;
}

/* Horizontal Navbar */


.navbar-expand-lg .navbar-nav .nav-link {
    font-family: "Playfair";
    font-size: 21px;
    color: var(--base-text);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    font-family: "Playfair";
    font-size: 21px;
    color: var(--red-text);
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    position: fixed;
    padding-top: 5em;
    background-color: var(--colorbg);
    z-index: 1002;
}




/* H1, H2, H3, red highlight on titles*/

.h1,
h1 {
    font-family: "Playfair";
    font-size: 100px;
    color: var(--base-text);
    padding-top: 45vh;
    font-weight: bolder;
}

.h1,
h1 .red-highlight {

    color: var(--red-text);

}

.h2,
h2 {
    font-family: "Playfair";
    font-size: 26px;
    color: var(--base-text);
    font-weight: lighter;
    line-height: 1.6;
    padding-bottom: 5%;
}

.h2,
h2 .red-highlight {
    color: var(--red-text);
}

.h3,
h3 {
    font-family: "Playfair";
    font-size: 140%;
    color: var(--base-text);

    font-weight: lighter;
    line-height: 1.6;
}

.h3,
h3 .red-highlight {
    font-family: "Playfair";
    color: var(--red-text);
}

.h6,
h6 .red-highlight {

    color: var(--red-text);

}

ul,
#list_expl {

    list-style-type: none;
    padding-left: 30%;

}




/* Sections */

.home-title {
    padding-bottom: 25%;
}

h1#fadein.comingsoon.fade-in {
    font-size: 200px;
    line-height: 0.6 !important;
    padding: none;
}



#sections {
    transition: margin-left .5s;
}

.text {
    padding-top: 200px;
}

.par {
    font-family: "Garamond";
    color: #1e110f5c;
    font-size: 100%;
}



#sections #sections-opacity .section {
    padding-bottom: 25% !important;
}



#word1,
#word2,
#word3 {
    margin: 3%;
    font-size: 30px;
    font-weight: lighter;
}



/* Counters */


.c-no {
    height: 150px;
}



.counter-Txt {
    text-align: center;
    font-size: 25px;
    font-family: "Playfair";
    color: #cc0b36;

}

.counter-Txt span {
    display: block;
    font-size: 60px;
    color: #cc0b36;

}

@media(min-width:320px) and (max-width:767px) {

    input[type="checkbox"] {
        border: 0.75px solid #332421 !important;
        transform: translateY(-0.075em);
        border-radius: none !important;
        display: inline-flex;
        place-content: center;
    }


    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;

    }

    input[type="checkbox"]:checked::before {
        transform: scale(1) !important;
    }

    input[type="checkbox"]::before {
        background-color: #332421;
    }

    label {
        padding-left: 3%;
        vertical-align: center;
    }


    .c-no {
        height: 100%;
    }

    .counter-Txt {
        margin-top: 35px;
    }

    .margin-bot-35 {
        margin-bottom: 35px;
    }
}

#intro #macchia-caffe {
    width: 30%;
    position: absolute;
    top: 12%;
    left: 35%;
    opacity: 8%;
}

#macchia {
    width: 30%;
    position: absolute;
    top: 20%;
    right: 5%;
    opacity: 8%;
}

#macchia_titolo {
    width: 30%;
    position: absolute;
    top: 35%;
    left: 5%;
    opacity: 8%;
}

#macchia_discover {
    width: 30%;
    position: absolute;
    top: 1%;
    left: 27%;
    opacity: 8%;
    z-index: -1;
}

#macchia_pagina {
    width: 30%;
    position: absolute;
    top: 47%;
    right: 7%;
    opacity: 8%;
    z-index: -1;
}

#macchia_tre {
    width: 30%;
    position: absolute;
    top: 61%;
    left: 7%;
    opacity: 8%;
    z-index: -1;
}

#macchia_dishes {
    width: 30%;
    position: absolute;
    top: 76%;
    right: 7%;
    opacity: 8%;
    z-index: -1;
}

#macchia_woman {
    width: 30%;
    position: absolute;
    top: 85%;
    left: 35%;
    opacity: 8%;
    z-index: -1;
}

#macchia_fine {
    width: 20%;
    position: absolute;
    top: 94%;
    left: 35%;
    opacity: 8%;
    z-index: -1;
}

#dishes_img {
    width: 100%;
}





#first-drawing {
    width: 25%;
    position: absolute;
    top: 90%;
    left: -5%;

}

#second-drawing {
    width: 15%;
    position: relative;
    left: 18%;
    bottom: 60px;
}


#side-drawing {
    width: 20%;
    position: absolute;
    bottom: 58%;
    left: 42%;

}

#dressing-drawing {
    width: 20%;
    position: absolute;
    left: 70%;
    top: 80%;


}

#sauce-drawing {
    width: 18%;
    position: absolute;
    left: 60%;
    top: 45%;
}

#dessert-drawing {
    width: 25%;
    position: absolute;
    left: 60%;
    top: 150%;

}

#beverage-drawing {
    width: 28%;
    position: absolute;
    top: 90%;
    right: 35%;

}




.reveal {
    opacity: 1;
}

/*Sidebar */

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 15%;
    left: 0;
    background-color: none;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: "Playfair";
    font-size: 40px;
    color: var(--red-text);
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: var(--base-text);
}

#sidebar .sidebar-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#img-sidebar img {
    width: 3%;
    bottom: 3%;
    left: 1%;
    position: fixed;
    animation: fadeInLeft 1.5s ease-in-out;
    z-index: 1001;

}

/*footer*/



a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: var(--base-text);
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
    /* min-height: 100vh;*/
}





.footer {
    background-color: #cc0b3527;
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 100003;
}




@media only screen and (max-width:768px) {
    .single_footer {
        margin-bottom: 30px;
    }
}

section#ingredients2.section {
    margin-bottom: 60px;
    /* min-height: 100vh;*/
}

section#dishes.section {
    margin-bottom: 80px;
    /* min-height: 100vh;*/
}

.single_footer h4 {
    color: #332421;
    font-family: "Playfair";
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 18px;
}

.single_footer h4#title-footer {

    text-transform: none;
    font-weight: bold;
}

.single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #332421;
    margin-top: 20px;
}



.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single_footer ul #doi {
    margin: 0;
    padding: 0;
    line-height: 36px;


}

#doi {
    font-family: "Playfair";
    font-size: 14px;
    line-height: 36px;
}

#data-red a {
    color: #cc0b36 !important;
}


.single_footer ul li a {
    color: #332421;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 14px;
}

.single_footer ul li a:hover {
    color: #f8f8f8;
}






/* Animations */


.fade-in {
    animation: fadeIn 4s;
}

/* Filters + Index */

#filter-sidebar-heading {
    padding: 2%;
    color: var(--red-text);
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.7em;
    border-bottom: 2px solid var(--red-text);
}

#filter-sidebar-heading2 {
    padding: 2%;
    color: var(--red-text);
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.7em;
    border-bottom: 2px solid var(--red-text);
}

section.filter-item-inner {
    padding: 0;
    /* min-height: 100vh;*/
}

h3#h3-compactlist {
    margin-top: 8%;
    margin-bottom: 3%;
    font-size: 18px;
    font-weight: bold;
}

#filter-sidebar {
    float: left;
    width: 25%;
    box-shadow: 5px 10px 18px #888888;
    margin-top: 7%;
    left: 2%;
    padding: 1% 3% 1% 3%;
    position: fixed;
}

div #category {
    overflow-y: scroll;
    height: 100px;
}

div #ingredient {
    overflow-y: scroll;
    height: 100px;
}

div #provenance {
    overflow-y: scroll;
    height: 100px;
}

.btn-light {
    background-color: #cc0b3516;
    border: 1px solid #cc0b3516;
    color: #cc0b36;
    border-radius: 0%;
    text-align: center;
    font-family: "Playfair";
    font-size: 12px;
    margin-top: 5%;


}

.btn-light:hover {
    background-color: #cc0b36;
}

#btn-compactlist {

    background-color: #8bb0a878;
    border: 1px solid #8bb0a8;
    color: #332421;
    border-radius: 0%;
    text-align: center;
    font-family: "Playfair";
    font-size: 12px;
    margin-top: 5%;

}

select,
textarea {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Playfair";
}


input[type="checkbox"] {
    -webkit-appearance: none;
    border: 1px solid #332421;
    transform: translateY(-0.075em);
    display: inline-flex;
    place-content: center;
}


input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;

}

input[type="checkbox"]:checked::before {
    transform: scale(0.8);
}

input[type="checkbox"]::before {
    background-color: #332421;
}

label {
    padding-left: 3%;
    vertical-align: center;
}

#list-recipes-filter {
    list-style: circle;
    margin: 2%;
    font-size: 16px;
    font-family: "Garamond";
}

#breadcrumbs-div {
    margin-top: 20%;
    padding: 5%;
    border: 1px solid #33242145;
    background-color: #f8f8f883;
}



#b-place,
#b-ingr,
#b-cat {
    font-size: 12px;
    font-family: "Garamond";
    font-weight: bold;
}

.icon-list {
    font-size: 12px;
    margin-left: 2%;
}



#b-info {
    font-weight: normal;
    font-size: 12px;
    font-family: "Garamond";
    margin-top: 10%;
    border-top: 1px solid #33242145;
    border-bottom: 1px solid #33242145;


}

#b-ingr-span,
#b-place-span,
#b-cat-span {
    font-weight: normal;
    font-style: italic;

}



/*#breadcrumbs {
    margin-top: 10%;
}

#bread_with {
    font-size: 14px;
    font-family: "Garamond";

}*/

#list-recipes-filter a:hover {
    color: #cc0b36;

}

#list-recipes-filter:hover {
    color: #cc0b36;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/* inline block */

.ib {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

.ib-m {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}


/* ul-reset */

.ul-reset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}



.filter-item-inner {
    border-bottom: 1px solid #33242161;
}

.filter-item-inner-heading {
    position: relative;
    padding: 10px;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
}

.filter-item-inner-heading.minus:after,
.filter-item-inner-heading.plus:after {
    position: absolute;
    top: 33%;
    right: 7.5%;
    font-size: .6em;
}

.filter-item-inner-heading.minus:after {
    content: "▲";
}

.filter-item-inner-heading.plus:after {
    content: "▼";
}

.filter-attribute-list {
    overflow: hidden;
}

.filter-attribute-list-inner {
    padding: 0 10px 15px;
}

.filter-attribute-item {
    padding-left: 10px;
    margin-top: 5px;
    color: var(--base-text);
    font-family: "Garamond";
}

.filter-attribute-item:first-child {
    margin-top: 0;
}




.letter-container .letter_space,
ol {
    font-family: "Playfair";
    font-size: 70px;
    color: var(--red-text);
    padding-top: 10vh;
    cursor: default;

}


.letter-container .letter_space,
ol,
.index_letters #letters_title {

    color: #cc0b36;
    padding-top: 10%;
}

#letters_title {
    border-bottom: 1px solid #cc0b36;
    padding-bottom: 5%;
}

#letter-container a {
    font-size: 20px;
    font-weight: lighter;
    display: block;
    padding-left: 5px;
    margin-top: 5px;
    color: var(--base-text);
    font-family: "Garamond";
    text-decoration: none;
}

#letter-container a:hover {
    font-size: 20px;
    padding-left: 10px;
    margin-top: 5px;
    color: var(--red-text);
    font-family: "Garamond";
    text-decoration: none;
    cursor: pointer;
}

.modal-fullscreen .modal-body {
    overflow-y: auto;
    background-color: #e9dfe1
}

.modal-header .btn-close {
    box-shadow: none;

}

img,
#recipe-img {
    width: 70%;
}

#serves-bold {
    font-weight: bold;
}

#preparation-bold {
    font-weight: bold;
}

#cooking-bold {
    font-weight: bold;
}

#about-recipe,
.h2 {
    color: var(--red-text);
    font-size: 38px;
    padding: 0px 0px 0px;
    margin: 0px 0px 0px;
    font-weight: bolder;
    padding-bottom: 5%;

}

.modal-fullscreen .modal-footer,
.modal-fullscreen .modal-header {
    border-radius: 0;
    border-bottom: 1px solid #332421;
    background-color: #e7daca77;

}


#recipe-title,
.h3 {
    font-weight: bolder;
    font-size: 24px;
    line-height: normal;
    padding: 0px 0px 0px;
    margin: 0px 0px 0px;

}


#recipe-subtitle,
#recipe-info,
.h4 {
    font-family: "Playfair";
    font-size: 14px;
    padding-bottom: 4%;
    color: var(--base-text);
    font-weight: lighter;
    /*border-bottom: 1px solid var(--base-text);*/

}

#recipe-container #container-recipe {
    box-shadow: 5px 10px 18px #888888;
    padding: 2% 8% 8% 8%;
    margin-top: 15%;
    margin-right: 10%;
    background-color: #e7daca77;
    ;
    border: 1px solid #332421;
}

#recipe-image {
    text-align: center;
}


#recipe-serves,
#recipe-preparation,
#recipe-cooking,
.h5 {

    font-family: "Playfair";
    font-size: 14px;
    color: var(--base-text);
    font-weight: lighter;
    text-align: center;
    line-height: 1.4;



}



.data-bold {
    font-weight: bold;
}

.data-italic {
    font-style: italic;
}

#ingr-header,
.h5 {
    font-weight: bold;
    font-size: 14px;
    font-family: "Playfair";
    padding-top: 5%;
}

#cook-header,
.h5 {
    font-weight: bold;
    font-size: 14px;
    font-family: "Playfair";
    padding-top: 5%;
}

.info-recipe {
    border-bottom: 1px solid var(--base-text);
    border-top: 1px solid var(--base-text);
    padding-top: 1%;
    text-align: center;
}

#recipe-ingr {
    padding: 2%;
    text-align: center;
}

#ingr-list,
ul {
    font-family: "Playfair";
    list-style-type: disc;
}

ul#ingr-list {
    column-count: 2;
    list-style-type: circle;


}

ul#cook-list {
    column-count: 2;
    list-style-type: circle;


}

#recipe-cook {
    padding: 2%;
    text-align: center;
}



#modal_header_z {
    z-index: 10000 !important;
}

b {
    font-weight: bold;
}

#cook-list,
ul {
    font-family: "Playfair";
    font-size: 14px;


}

#recipe-ingr-photo {
    width: 30%;
}

#recipe-cook-photo {
    width: 25%;
}

.ingredients-recipe {
    border-bottom: 1px solid var(--base-text);
    padding-top: 4%;
    justify-content: center !important;
    padding-bottom: 4%;
}

.cooking-procedure-recipe {
    border-bottom: 1px solid var(--base-text);
    padding-top: 4%;
}



#forgotten-box-img {
    display: none;
}

.section_about1 {
    padding-top: 8%;
}

#section_about2 {
    padding: 0 !important;
}

#section_about3 {
    padding: 0 !important;
    margin-bottom: 5%;
}

#h6_about {
    font-family: "Playfair";
    font-size: 70px;
    color: var(--base-text);
    font-weight: bolder;
    text-align: left;
    padding-bottom: 5%;
}

#h7_about {
    font-family: "Playfair";
    font-size: 30px;
    color: var(--base-text);
    font-weight: bolder;
    text-align: left;
    padding-bottom: 5%;
}

#h7_par {
    font-family: "Playfair";
    font-size: 16px;
    color: var(--base-text);
    font-weight: bolder;
    text-align: left;
    padding-bottom: 5%;
}

#about_p {
    margin-top: 2%;
}

.card {
    width: 28rem;
    margin: auto;
    margin-top: 10%;
    font-family: "Garamond";
    background-color: #f8f8f8;
    color: #332421;
}

/* Keyframes */


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(min-width:320px) and (max-width:767px) {

    .col-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .img-cokbooks-recipes {
        display: none;
    }

    .navbar-toggler {
        border: none;
        width: 5em;
        box-shadow: none;
    }

    .navbar-toggler-icon {
        width: 2em;
        border: none;
        box-shadow: none !important;
    }


    .h1,
    h1 {
        font-family: "Playfair";
        font-size: 100px;
        color: var(--base-text);
        padding-top: 30vh;
        font-weight: bolder;
        font-size: 70px;
        text-align: right;
        padding-bottom: 20vh;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    #img-sidebar img {
        width: 10%;
        bottom: 3%;
        left: 5%;
        position: fixed;
        animation: fadeInLeft 1.5s ease-in-out;
    }

    #word1,
    #word2,
    #word3 {
        margin: 3%;
        font-size: 20px;
        font-weight: lighter;
        text-align: left;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 15px;
    }

    .h2,
    h2 {
        font-family: "Playfair";
        font-size: 18px;
        color: var(--base-text);
        font-weight: lighter;
        line-height: 1.6;
        padding-bottom: 7%;
    }

    #forgotten-box-img {
        display: block;
        width: 50%;
    }

    header,
    section {
        overflow-x: hidden;
        padding: 4%;
    }

    #forgotten-box-img {
        display: block;
        width: 50%;
        margin: 10% 0 0 25%;
    }

    #chartdiv_map {
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-top: 10%;
        border: 1px solid #332421;
        z-index: 1001;
        font-size: 12px;
    }



    #chartdiv_ingredients {
        width: 100%;
        height: 300px;
        font-size: 12px;
    }

    #chartdiv_pie {
        width: 100%;
        height: 160px;
        font-size: 12px;
        padding: 10%;
    }

    #navbarNav .icon-bar:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 10% 10%;
        -ms-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
    }

    #chartdiv {
        width: 100%;
        height: 300px;
        font-size: 9px;
        border: 1px solid #332421;
    }

    #filter-sidebar {
        /* float: left; */
        width: 80%;
        box-shadow: 5px 10px 18px #888888;
        margin-top: 30%;
        left: 2%;
        position: static;
        padding: 4% 6% 4% 6%;
        margin: 25% 11% 2%;
    }

    #list-recipes-filter {
        list-style: disc;
        margin: 2%;
        font-size: 16px;
        font-family: "Garamond";
    }



    #letter-container a {
        font-size: 16px;
        font-weight: lighter;
        display: block;
        padding-left: 5px;
        margin-top: 5px;
        color: var(--base-text);
        font-family: "Garamond";
        text-decoration: none;
    }

    #letter_space {
        padding: 5%;
    }

    #filter-sidebar-heading {
        padding: 2%;
        color: var(--red-text);
        font-weight: bold;
        margin-bottom: 0;
        font-size: 1.5em;
        border-bottom: 2px solid var(--red-text);
    }

    .text {
        padding-top: 50px;
    }

    #img-dishes {
        padding-top: 10%;
        z-index: 1001;
        overflow-y: hidden;

    }

    a#expl_brow {
        font-family: "Playfair";
        text-decoration: none;
        font-size: 40px;
        color: var(--base-text);
        font-weight: bolder;
        line-height: 1;
        cursor: pointer;
        z-index: 10000;
    }

    li#expl.explore_class {
        padding-bottom: 8%;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        position: fixed;
        padding-top: 5em;
        background-color: var(--colorbg);
        z-index: 1002;
        left: 0;

    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-family: "Playfair";
        font-size: 14px;
        color: var(--base-text);
        text-align: right;
        padding-right: 30px;
    }

    #navbarNav .nav-link {
        padding: none;
        line-height: 0.5;
    }

    #sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-family: "Playfair";
        font-size: 30px;
        color: var(--red-text);
        display: block;
        transition: 0.3s;
    }

    #recipe-image {
        margin-top: 8%;
        justify-content: center;
        position: relative;
        text-align: center;
        margin: auto;
    }

    #recipe-container #container-recipe {
        box-shadow: 5px 10px 18px #888888;
        padding: 2% 8% 8% 8%;
        margin-top: 15%;
        margin: auto;
        background-color: #e7daca77;
        border: 1px solid #332421;
    }

    #recipe-subtitle,
    #recipe-info,
    .h4 {
        font-family: "Playfair";
        font-size: 10px;
        padding-bottom: 4%;
        color: var(--base-text);
        font-weight: lighter;
        /* border-bottom: 1px solid var(--base-text); */
    }

    #about-recipe,
    .h2 {
        color: var(--red-text);
        font-size: 28px;
        padding: 0px 0px 0px;
        margin: 0px 0px 0px;
        font-weight: bolder;
        padding-bottom: 5%;
    }

    #recipe-title,
    .h3 {
        font-weight: bolder;
        font-size: 18px;
        line-height: normal;
        padding: 0px 0px 0px;
        margin: 0px 0px 0px;
    }

    #recipe-serves,
    #recipe-preparation,
    #recipe-cooking,
    .h5 {
        font-family: "Playfair";
        font-size: 12px;
        color: var(--base-text);
        font-weight: lighter;
        text-align: center;
        line-height: 1.2;
    }

    #ingr-header,
    .h5 {
        font-weight: bold;
        font-size: 14px;
        font-family: "Playfair";
        padding-top: 2%;
    }

    #recipe-ingr-photo {
        width: 20%;
    }



    #recipe-ingr-list {
        margin-left: 15%;
        padding-bottom: 5%;
    }

    #recipe-cook-list {
        margin-left: 15%;
    }


    #recipe-cook-photo {
        width: 16%;
    }

    #cook-header,
    .h5 {
        font-weight: bold;
        font-size: 14px;
        font-family: "Playfair";
        padding-top: 2%;
    }

    ul#ingr-list {
        column-count: 2;
        font-size: 12px;

    }

    ul#cook-list {
        column-count: 2;
        font-size: 12px;
    }

    #recipe-ingr-list {
        margin-bottom: 5%;
    }

    #recipe-cook-list {
        margin-bottom: 5%;
    }


    #dishes_img {
        width: 80%;
        text-align: center;
        margin-left: 8%;
    }

    #h6_about {
        font-family: "Playfair";
        font-size: 40px;
        color: var(--base-text);
        font-weight: bolder;
        text-align: left;
        padding-top: 15%;
        padding-bottom: 5%;
    }

    #h7_about {
        font-family: "Playfair";
        font-size: 20px;
        color: var(--base-text);
        font-weight: bolder;
        text-align: left;
        padding-bottom: 5%;
    }

    .card {
        width: 14rem !important;
    }


}

@media(min-width:768px) and (max-width:1023px) {


    #recipe-container #container-recipe {
        box-shadow: rgb(136, 136, 136) 5px 10px 18px;
        width: 70%;
        margin: auto;
        /* text-align: center; */
        padding: 2% 8% 8%;
        margin-top: 5%;
        /* margin-right: 10%; */
        background-color: rgba(231, 218, 202, 0.467);
        border: 1px solid rgb(51, 36, 33);
    }

    #dessert-drawing {
        width: 25%;
        position: absolute;
        left: 60%;
        top: 130%;
    }

    #apetizers-drawing {
        width: 20%;
        margin-top: 10%;
        top: 310px !important;
        left: 6%;
    }

    #filter-sidebar {
        float: left;
        width: 25%;
        box-shadow: 5px 10px 18px #888888;
        margin-top: 7%;
        left: 2%;
        padding: 4%;
        position: fixed;
        top: 10%;
    }

    .img-cokbooks-recipes {
        display: none;
    }

    h1#fadein {
        font-family: "Playfair";
        font-size: 80px;
        color: var(--base-text);
        padding-top: 70vh;
        font-weight: bolder;
        text-align: right;
    }

    section {
        padding: 0;
        /* min-height: 100vh; */
    }

    .par {
        font-family: "Garamond";
        color: #949494;
        font-size: 115%;
        padding-bottom: 3%;
    }

    #img-map {
        padding: none;
    }



    #second-drawing {
        width: 15%;
        left: 14%;
    }

    #apetizers-drawing {
        width: 20%;
        margin-top: 10%;
        top: 200px !important;
        left: 6%;
    }

    .line-container {
        padding-top: 48%;
        width: 100%;
        height: 100%;
        opacity: 60%;
        text-align: center;

    }
}